.TodoSearch {
	background: white;
	border-radius: 2px;
	border: 2px solid rgb(66, 65, 65);
	margin: 0 24px;
	height: 64px;
	width: calc(100% - 62px);
	font-size: 24px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: rgb(24, 23, 23);
	box-shadow: 0px 5px 50px rgb(36, 28, 28);
}

.TodoSearch::placeholder {
	color:aliceblue;
	font-family:'Courier New', Courier, monospace;
	font-weight: 400;	
}

.TodoSearch:focus {
	outline-color: aquamarine;
}